<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Validation Template</title>
    <style>
        .center {
            width: 90px;
            height: 70px;
            border: 1px solid red;
            margin: 0 auto;
        }
        
        p {
            width: 88px;
            height: 31px;
            border: 1px dotted black;
            background-color: green;
        }
        
        img {
            //visibility: hidden;
        }
        
    </style>
</head>

<body>
    <div class="center">
        <p>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
            </a>
        </p>
        <p>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
            </a>
        </p>
    </div>
</body>

</html>